{{room.name}}

<div id="chat-messages"></div>
<form action="" method="post">
  {% csrf_token %}
  <input type="text" name="message" id="message-input" />
  <button type="submit" id="send-button">Send</button>
</form>

{{ room.slug|json_script:"json-chatRoomName" }}
<!-- 這是一個自定義過濾器，json_script 是過濾器的名稱，會將傳入的數據轉換為JSON格式並安全地嵌入到HTML中。 -->
<!-- "json-chatroomname" 是一個參數，指定了這段JSON數據的HTML元素的id屬性。這樣可以方便地在前端JavaScript中通過該id來獲取並使用這段JSON數據。 -->
{{request.user.username | json_script:"json-username"}}
<script>
  const chatRoomName = JSON.parse(document.getElementById("json-chatRoomName").textContent);
  const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/" + chatRoomName + "/");
  const username = JSON.parse(document.getElementById("json-username").textContent);
  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    if (data.message) {
      console.log("New", data.message);
      let html = data.username + " : " + data.message;
      document.getElementById("chat-messages").innerHTML += html + "<br />";
    } else {
      alert("The message was empty");
    }
  };
  chatSocket.onclose = function (e) {
    console.log("Socket closed");
  };

  document.getElementById("send-button").onclick = function (e) {
    e.preventDefault();
    // 預設會刷新頁面
    const messageInput = document.getElementById("message-input");
    const message = messageInput.value;
    chatSocket.send(
      JSON.stringify({
        message: message,
        username: username,
        roomName: chatRoomName,
      })
    );
    messageInput.value = "";
  };
</script>
